<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>CFBundleURLTypes</key>
<array>
    <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>bmserver-app</string>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>bmserver-app</string> <!-- Custom scheme -->
        </array>
    </dict>
</array>
<key>FlutterDeepLinkingEnabled</key>
<true/>


	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Portail Salarié</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			
            <key>LSHandlerRank</key>
         <string>Alternate</string>

			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Portail Salarié</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NFCReaderUsageDescription</key>
	<string>This app needs NFC access to scan NFC tags</string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan QR codes</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your documents</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID for authentication</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need access to your location to provide location-based services.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need access to your location to provide location-based services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to provide location-based services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>firebase_messaging_auto_init_enabled</key>
    <false/>
	<key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
      <string>arm64</string>
    </array>
	<key>UIUserInterfaceStyle</key>
    <string>Light</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>io.flutter.embedded_views_preview</key>
	<true/>


	<key>LSApplicationQueriesSchemes</key>
<array>
    <string>http</string>
    <string>https</string>
</array>


</dict>
</plist>
